<div class="row">
    <% products.each do |product| %>
        <div class="col-sm-6 col-md-3 ">
            <div class="thumbnail border border-light">
                <%= link_to image_tag(product.main_product_image.image.variant(resize_to_limit: [128, 128]),alt: product.title),product_path(product) %>
                <div class="caption">
                    <h4><%= link_to product.title,product_path(product),class: "title" %></h4>
                    <p>
                        <strong>￥<%= product.price %></strong>
                        <span class="msrp">￥<%= product.msrp %></span>
                    </p>
                    <p style="text-align:center">
                        <%= show_add_to_cart(product,html_class: 'btn-sm') %>
                    </p>
                </div>
            </div>
        </div>
    <% end %>
</div>

<%= will_paginate @products %>