<div class="d-flex justify-content-between">
    <div>
        <h3>产品</h3>
    </div>

    <div class="pull-right">
        <%= link_to "创建产品",new_admin_product_path,class:"btn btn-primary" %>
    </div>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">分类</th>
            <th scope="col">名称</th>
            <th scope="col">数量</th>
            <th scope="col">状态</th>
            <th scope="col">市场价</th>
            <th scope="col">原价</th>
            <th scope="col">标识符</th>
            <th scope="col">描述</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% @products.each_with_index do |product,index| %>
                <tr>
                    <th scope="row"><%= index + 1 %></th>
                    <td><%= product.category.title %></td>
                    <td><%= product.title %></td>
                    <td><%= product.amount %></td>
                    <td><%= product.status %></td>
                    <td><%= product.msrp %></td>
                    <td><%= product.price %></td>
                    <td><%= product.uuid %></td>
                    <td><%= product.description %></td>
                    <td align="right">
                        <%= link_to "编辑",edit_admin_product_path(product) %>
                        <%= link_to "删除",admin_product_path(product),data:{
                            turbo_method: :delete,
                            turbo_confirm: "确认删除该条产品？"
                        },method: :delete %>

                        <%= link_to "图片管理",admin_product_product_images_path(product) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <%= will_paginate @products %>
</div>
