<!DOCTYPE html>
<html>
  <head>
    <title>管理</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags "admin" %>
  </head>

  <body>
    <div class="container">
      <%= render "admin/layouts/navigation"%>
      <% unless flash[:notice].blank? %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <strong><%= flash[:notice] %></strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      
      <%= yield %>
    <div>
  </body>
</html>
