
<div class="row">
  <div class="col-lg-3">
    <%= render "shared/categories",categories: @categories %>
  </div>
  <div class="col-lg-9">
    <ol class="breadcrumb">
        <%= link_to "Home",root_path,class: "breadcrumb-item" %>
        <%= link_to @category.root.title,category_path(@category),class: "breadcrumb-item active" %>
        <%= link_to @category.title,category_path(@category),class: "breadcrumb-item active" %>
    </ol>
    <%= render "shared/products",products: @products %>
  </div>
</div>